@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .box {
        background:
            linear-gradient(#0f0d0e, #0f0d0e) padding-box,
            linear-gradient(var(--angle), #1f1c1d, #c084fc66) border-box;
        animation: 8s rotate linear infinite;
    }

    .checkbox-wrapper input[type="checkbox"] {
        /* removing default appearance */
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /* creating a custom design */
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.9em;
        margin-right: 0.5em;
        cursor: pointer;
    }

    input.completed::before {
        content: "⅃";
        border-top: none;
        border-right: none;
        height: 6px;
        left: 14px;
        position: absolute;
        font-size: 16px;
        color: #f8f4dd;
        top: 3px;
        transform: rotate(45deg);
        width: 12px;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
}
