@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-light: #1b1d23;
    --gray-dark: #131519;
    --gray-darkest: #0d0f11;
    --brand-coal: #0f0d0e;
    --brand-charcoal: #231f20;
    --brand-gray: #262522;
    --brand-yellow: #fcba28;
    --brand-pink: #f38ba3;
    --brand-green: #0ba95b;
    --brand-purple: #7b5ea7;
    --brand-beige: #f9f4da;
    --brand-blue: #12b5e5;
    --brand-orange: #fc7428;
    --brand-red: #ed203d;
    --brand-white: #ffffff;
    --gentlePeachLol: #f99157;
    --magesticPurple: #9d7dce;
    --red: var(--brand-red);
    --white: var(--brand-beige);
    --purple: var(--brand-purple);
    --black: var(--brand-coal);
    --blue: var(--brand-blue);
    --pink: var(--brand-pink);
    --gold: var(--brand-yellow);
    --aqua: var(--brand-blue);
    --gray: var(--brand-gray);
    --yellow: var(--brand-yellow);
    --green: var(--brand-green);
    --orange: var(--brand-orange);
    --charcoal: var(--brand-charcoal);
    --coal: var(--brand-coal);
    --border-dark: 0.12rem solid var(--charcoal);
    --border-dark-shadow: 0 0 0 0.1rem var(--charcoal);
    --border-light: 0.07rem solid rgba(249, 244, 218, 0.5);
    --body-padding: 2rem;
    --body-border: 1.3rem;
    --font-outfit: Outfit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    --font-paytone: "Paytone One", Outfit, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
        sans-serif;
    --focus-object: 0 0 0 0.2rem var(--blue), 0 0 0 0.27rem var(--white);
    --focus-text: 0 0 0 0.2rem var(--charcoal), 0 0 0 0.27rem var(--blue);
    --focus-input: 0 0 0 0.1em var(--charcoal), 0 0 0 0.2em var(--blue);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .box {
        background:
            linear-gradient(#0f0d0e, #0f0d0e) padding-box,
            linear-gradient(var(--angle), #1f1c1d, #c084fc66) border-box;
        animation: 8s rotate linear infinite;
    }

    .box-logs {
        background:
            linear-gradient(#0f0d0e, #0f0d0e) padding-box,
            linear-gradient(var(--angle), #f2bd4c, #c084fc66) border-box;
        animation: 8s rotate linear infinite;
    }

    .checkbox-wrapper input[type="checkbox"] {
        /* removing default appearance */
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /* creating a custom design */
        width: 1.6em;
        height: 1.6em;
        border-radius: 0.9em;
        margin-right: 0.5em;
        cursor: pointer;
    }

    input.completed::before {
        content: "⅃";
        border-top: none;
        border-right: none;
        height: 6px;
        left: 14px;
        position: absolute;
        font-size: 16px;
        color: #f8f4dd;
        top: 3px;
        transform: rotate(45deg);
        width: 12px;
    }

    .background-test {
        background-color: #0f0d0e;
        background-image: repeating-linear-gradient(
                to right,
                #1f1c1d,
                #1f1c1d 1px,
                transparent 1px,
                transparent 30px
            ),
            repeating-linear-gradient(
                to bottom,
                #1f1c1d,
                #1f1c1d 1px,
                transparent 1px,
                transparent 30px
            );
        border: #1f1c1d solid #1f1c1d;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
}
